<div class="page-header">
  <h1>Contact me. <small>Let's make something great together</small></h1>
</div>

<label for="basic-url">Name</label>
<div class="input-group">
  <!-- <span class="input-group-addon" id="basic-addon1">@</span> -->
  <input type="text" class="form-control" placeholder="Full name" aria-describedby="basic-addon1">
</div>

<label for="basic-url">Phone number</label>
<div class="input-group">
  <input type="text" class="form-control" placeholder="Phone number" aria-describedby="basic-addon2">
  <!-- <span class="input-group-addon" id="basic-addon2">@example.com</span> -->
</div>

<label for="basic-url">Email address</label>
<div class="input-group">
  <!-- <span class="input-group-addon">$</span> -->
  <input type="text" class="form-control" placeholder="Email" aria-label="Email">
  <!-- <span class="input-group-addon">.00</span> -->
</div>

<label for="basic-url">Your message</label>
<div class="input-group">
  <!-- <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span> -->
  <input type="text" class="form-control" placeholder="Message" id="basic-url" aria-describedby="basic-addon3">
</div>
<div>
    <h1 class="descriptors">Contact. Contact. Contact.</h1>
    <h3 class="subdescriptor"> My name's Keeley. Nice to meet you! </h3>
    <p>{{message}}</p>
</div>
